@import url(./nullstyle.css);

body {
}
.wrapper {
  width: 1150;
}
.seabattle__block-text {
  padding-top: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21px;
}
.seabattle__block-text p {
  font-size: 20px;
}
.seabattle__input-checkbox {
  padding-left: 80px;
  padding-top: 4px;
  margin-bottom: 20px;
}
.seabattle__input-checkbox input {
  margin-right: 20px;
}
.seabattle__input-checkbox span {
  font-size: 16px;
}
.seabattle__ship-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 300px;
  margin: 0px auto;
}
.ship__four-deck {
  width: 80px;
  height: 20px;
  background: blue;
  border: 1px solid black;
  margin-right: 20px;
}
.ship__three-deck {
  border: 1px solid black;
  margin-right: 20px;
  width: 60px;
  height: 20px;
  background: blue;
}
.ship__two-deck {
  border: 1px solid black;
  margin-right: 20px;
  width: 40px;
  height: 20px;
  background: blue;
}
.ship__one-deck {
  border: 1px solid black;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background: blue;
}
.seabattle__sea-container {
  min-width: 401px;
  display: flex;
  margin-bottom: 40px;
  margin-top: 50px;
}
.seabattle__sea-human {
  max-width: 200px;
  min-width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  cursor: pointer;
}
.seabattle__sea-computer {
  max-width: 200px;
  min-width: 200px;
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.seabattle__block-info-text {
  display: flex;
  flex-direction: space-around;
}
.seabattle__button-start,
.seabattle__button-manual,
.seabattle__button-random {
  width: 100px;
  height: 40px;
  margin-right: 30px;
  background-color: aqua;
  border: 3px solid rgb(98, 19, 122);
  border-radius: 10px;
}
.cube {
  width: 20px;
  height: 20px;
  border: 0.5px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cell__container {
}
.hide {
  display: none;
}
.cell__container[data-id] {
  background: rgb(0, 255, 0);
}
.horizontal {
  transform: rotate(90deg);
}
